@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact{
  font-family: 'IBM Plex Sans', sans-serif;
}
.contact .contact-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
  padding: 30px;
}
.contact .contact-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .contact-form .error-message br + br {
  margin-top: 25px;
}
.contact .contact-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .contact-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .contact-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .contact-form .form-group {
  margin-bottom: 20px;
}
.contact .contact-form input, .contact .contact-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .contact-form input:focus, .contact .contact-form textarea:focus {
  border-color: #106eea;
}
.contact .contact-form input {
  padding: 10px 15px;
}
.contact .contact-form textarea {
  padding: 12px 15px;
}
.contact .contact-form button[type=submit] {
  background: #106eea;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
.contact .contact-form button[type=submit]:hover {
  background: #3b8af2;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}